<div class="content-wrapper">
	<div class="slogan-wrapper">
		<p class="slogan">Write your thoughts to people anonymously, in <b>Three Words</b></p>
	</div>

	<div class="portfolios-wrapper">
		<div class="portfolios-grid">
			<!-- <div class="portfolios-grid-item">
				<div class="portfolio-picture-wrapper">
					<img>
				</div>
				<div class="portfolio-picture-text">
					<p>Some beautiful text</p>
				</div>
			</div>-->
		</div>
	</div>
	<!-- <div class="notification-wrapper">
		<div class="notification-grid">
			<div class="notification-grid-item">
				
			</div>
		</div>
	</div> -->
	<div class="loader-wrapper content-loader"><div class="loader">Loading...</div></div>
</div>

<div class="screen-dim" id="open-picture-dim">
	<div class="opened-picture-wrapper" id="link-to-share">
		<div class="instant-picture-wrapper">
			<div class="instant-picture">
				<img id="big-instant-picture-image">
			</div>
			<div class="instant-picture-beautiful-text-wrapper" id="top-comment-container">
				<!-- <span class="instant-picture-beautiful-text"></span><span>, </span> -->
			</div>
		</div>
		<div class="right-section-wrapper">
			<div class="user-information-wrapper">
				<div class="glance-information-wrapper">
					<div id="owners-name"></div>
				</div>
			</div>
			<div class="image-caption-wrapper">
				<p id="image-caption"></p>
			</div>
			<div class="comment-section-wrapper">
				<div class="interest-wrapper">
					<span class="fa fa-comment-o"></span>
					<span id="comment-number"></span>
				</div>
				<div class="comments-wrapper">
					<div class="write-comment-wrapper">
						<div class="input-3-words">
							<input id="input-3-words" type="text" placeholder="Write some words" maxlength="20">
							<div class="send-comment" onclick="enterComment()"><span class="fa fa-paper-plane-o"></span></div>
						</div>
					</div>
					<div class="display-comments-wrapper" id="comments-container">
						<!-- <div class="comment">
							<span class="word">Word</span>
							<div class="vote-count-display">
								<span class="fa fa-heart-o"></span>
								<span class="vote-number">12</span>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>