.screen-dim{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba( 0, 0, 0, 0.8);
	z-index: 2;
	overflow: auto;
}
.opened-picture-wrapper{
	margin: 20px 0px;
	display: flex;
	align-items: center;
	min-height: 100%;

	position: absolute;
	left: 50%;
	transform: translate( -50%, 0%);
}
.opened-picture-wrapper::-webkit-scrollbar{
	display: none;
}
.instant-picture-wrapper{
	position: relative;
	width: 575px;
	padding: 25px 25px 40px 25px;
	background-color: #ffffff;
}
.instant-picture{
	width: 100%;
}
.instant-picture > img{
	width: inherit;
}
.instant-picture-beautiful-text-wrapper{
	display: block;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 28px;
	font-weight: bold;
	margin-top: 20px;
}
.instant-picture-beautiful-text-wrapper span{
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8)
}
.instant-picture-beautiful-text:hover{
	cursor: pointer;
	color: rgba(212, 99, 232, 0.8);
}
.right-section-wrapper{
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 500px;
	background-color: #ffffff;
	margin-left: 20px;
}
.user-information-wrapper{
	display: block;
	padding: 20px 20px 0px 20px;
}
.glance-information-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#owners-name{
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
#owners-name:hover{
	text-decoration: underline;
	color: #D463E8;
}
.image-caption-wrapper{
	padding: 10px 20px;
	margin: 0;
}
.image-caption-wrapper p{
	margin: 0;
	font-size: 12px;
}
.comment-section-wrapper{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.interest-wrapper{
	padding: 10px 20px;
	color: rgba(0, 0, 0, 0.5);
	font-weight: bold;
	font-size: 15px;
}
.comments-wrapper{
	flex: 1;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(212, 99, 232, 0.1);
	overflow-y: scroll;
}
.comments-wrapper::-webkit-scrollbar{
	display: none;
}
.write-comment-wrapper{
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	padding: 5px 20px;
}
.user-avatar-tiny{
	height: 35px;
	width: 35px;
	border-radius: 100%;
	margin-right: 5px;
	cursor: pointer;
}
.user-avatar-tiny > img{
	height: inherit;
	width: inherit;
	border-radius: inherit;
}
.input-3-words{
	display: flex;
	align-items: center;
	flex: 1;
}
.input-3-words > input{
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	padding: 7px 30px 7px 15px;
	transition: all 0.2s ease-in-out;
	color: rgba(0, 0, 0, 0.9);
}
.input-3-words > input:focus{
	outline: none;
	border: 1px solid #93ff00;
}
.send-comment{
	position: absolute;
	right: 25px;
	color: #a1ff22;
	font-weight: bold;
	font-size: 20px;
}
/*.words-remain{
	position: absolute;
	top: 18px;
	right: 32px;
}*/
.display-comments-wrapper{
	font-size: 1em;	
	padding: 5px 20px;
	color: rgba(0, 0, 0, 0.5);
}
.comment{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px 0px;
}
.comment:last-child{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.word{
	font-family: 'Dancing Script', cursive;
	font-weight: bold;	
}
.comment:hover{
	cursor: pointer;
	color: rgba(212, 99, 232, 0.9);	
}
.vote-count-display{
	display: flex;
	align-items: center;
}
.vote-number{
	width: 30px;
	font-weight: bold;
	font-size: 12px;
	/*margin-left: 10px;*/
	text-align: center;
}
.catgory-notion-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 0px 10px 10px;
}

@media screen and (max-width: 960px){
	.instant-picture-wrapper{
		position: relative;
		width: 450px;
		padding: 20px 20px 40px 20px;
		background-color: #ffffff;
	}
	.right-section-wrapper{
		width: 250px;
		height: 400px;
		background-color: #ffffff;
		margin-left: 10px;
	}
	.user-information-wrapper{
		padding: 10px 15px;
	}
	.write-comment-wrapper{
		padding: 5px 10px;
	}
	.interestwrapper{
		padding: 5px 20px;
	}
}
@media screen and (max-width: 770px){
	.opened-picture-wrapper{
		width: 70%;
		margin: 10px 0px 10px;
		flex-direction: column;
	}
	.instant-picture-wrapper{
		position: relative;
		width: 100%;
		padding: 4% 4% 8% 4%;
		background-color: #ffffff;
		margin-bottom: 5px;
	}
	.right-section-wrapper{
		width: 100%;
		height: 400px;
		margin: 0;
	}
	.slogan{
		font-size: 20px;
	}
}

@media screen and (max-width: 500px){
	.opened-picture-wrapper{
		width: 90%;
		margin: 10px 0px;
		flex-direction: column;
	}
	.instant-picture-wrapper{
		position: relative;
		width: 100%;
		padding: 4% 4% 8% 4%;
		background-color: #ffffff;
		margin-bottom: 5px;
	}
	.right-section-wrapper{
		width: 100%;
		height: 300px;
		background-color: #ffffff;
		margin: 0;
	}
	.slogan{
		font-size: 21px;
	}
}