#open-post-picture-dim{
	display: none;
}
.post-picture-form{
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 50%;
	top:50%;
	position: absolute;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	padding: 20px 20px;
}
.input-image-wrapper{
	display: flex;
	flex-direction: column;
}
#caption{
	display: block;
	width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 7px 20px 7px 20px;
    transition: all 0.2s ease-in-out;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 25px;
}
#caption:focus{
	outline: none;
	border: 1px solid #93ff00;
}
.submit-area > div{
	background: none;
	background-color: #ffa31a;
	border: 2px solid #ffa31a;
	border-radius: 10px;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 20px 5px 15px;
}
.submit-area > div:hover{
	cursor: pointer;
	background-color: #ffffff;
	color: #ffa31a;
}
.preview-image{
	margin: 20px 0px;
	width: inherit;
	text-align: center;
}
.preview-image img{
	width: calc(100% - 30px);
}